#Footer {
  color: "black";
  background-color: "#E5E7E9";
  padding-top: "20px";
}

#footerContent {
  margin-left: 44%;
  margin-top: 15px;
  margin-bottom: 30px;
}
#firstMainLogo {
  margin-left: 30%;
}
